<%- include('../partials/header'); %>

    <main class="main main-home container text-center">
        <h2 class="home-header">
            welcome to my coffee page
        </h2>
        <img src="/media/Coffee.png" alt="Coffee Shop Picture" class="img-fluid coffee-image">
    </main>

<%- include('../partials/footer'); %>